<!DOCTYPE html>
	<html xmlns:th="http://thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		<head>
			<title>Eventos App</title>
		</head>
		
		<body>
			<h1>Lista de eventos</h1>
			<h2><a href="/cadastrarEvento">Cadastrar Evento</a></h2>
				<div th:each="evento : ${eventos}">
					<div class="row">
						<p><strong>Nome do Evento: </strong><span th:text="${evento.nome}"></span></p>
						<p><strong>Local: </strong><span th:text="${evento.local}"></span></p>
						<p><strong>Data: </strong><span th:text="${evento.data}"></span></p>
						<p><strong>Horário: </strong><span th:text="${evento.horario}"></span></p><br />	
					</div>
				</div>
		</body>
	</html>